<a href="https://colab.research.google.com/github/MishaHedman/neural-network-challenge-1/blob/main/student_loans_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

2025-02-02 13:38:51.358859: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y[:5]

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
x = loans_df.drop(columns=["credit_ranking"])

# Review the features DataFrame
x.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
from re import X
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
x_scaler = StandardScaler()

# Fit the scaler to the features training dataset
x_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = x_scaler.transform(X_train)
X_test_scaled = x_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
input_nodes = len(x.columns)

# Review the number of features
input_nodes

11

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  28

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 14


# Define the number of neurons in the output layer
output_nodes = 1

In [11]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=input_nodes))

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

2025-02-02 13:39:22.721198: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 28)                336

 dense_1 (Dense)             (None, 14)                406

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 757
Trainable params: 757
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 1s 2ms/step - loss: 0.6502 - accuracy: 0.6647
Epoch 2/50
38/38 [==============================] - 0s 2ms/step - loss: 0.6035 - accuracy: 0.6947
Epoch 3/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5738 - accuracy: 0.7164
Epoch 4/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5485 - accuracy: 0.7323
Epoch 5/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5317 - accuracy: 0.7356
Epoch 6/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5205 - accuracy: 0.7456
Epoch 7/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5127 - accuracy: 0.7431
Epoch 8/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5048 - accuracy: 0.7465
Epoch 9/50
38/38 [==============================] - 0s 2ms/step - loss: 0.5004 - accuracy: 0.7523
Epoch 10/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4949 - accuracy: 0.7506
Epoch 11/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4905 - accuracy: 0.7598
Epoch 12/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4873 - accuracy: 0.7615
Epoch 13/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4827 - accuracy: 0.7606
Epoch 14/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4802 - accuracy: 0.7673
Epoch 15/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4780 - accuracy: 0.7656
Epoch 16/50
38/38 [==============================] - 0s 2ms/step - loss: 0.4750 - accuracy: 0.7690
Epoch 17/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4723 - accuracy: 0.7723
Epoch 18/50
38/38 [==============================] - 0s 985us/step - loss: 0.4695 - accuracy: 0.7756
Epoch 19/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4684 - accuracy: 0.7790
Epoch 20/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4679 - accuracy: 0.7765
Epoch 21/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4641 - accuracy: 0.7756
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4609 - accuracy: 0.7798
Epoch 23/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4587 - accuracy: 0.7807
Epoch 24/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4599 - accuracy: 0.7773
Epoch 25/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4570 - accuracy: 0.7807
Epoch 26/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4546 - accuracy: 0.7823
Epoch 27/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4529 - accuracy: 0.7798
Epoch 28/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4512 - accuracy: 0.7823
Epoch 29/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4490 - accuracy: 0.7848
Epoch 30/50
38/38 [==============================] - 0s 954us/step - loss: 0.4487 - accuracy: 0.7840
Epoch 31/50
38/38 [==============================] - 0s 977us/step - loss: 0.4468 - accuracy: 0.7832
Epoch 32/50
38/38 [==============================] - 0s 981us/step - loss: 0.4438 - accuracy: 0.7890
Epoch 33/50
38/38 [==============================] - 0s 989us/step - loss: 0.4430 - accuracy: 0.7857
Epoch 34/50
38/38 [==============================] - 0s 3ms/step - loss: 0.4419 - accuracy: 0.7873
Epoch 35/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4393 - accuracy: 0.7907
Epoch 36/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4381 - accuracy: 0.7923
Epoch 37/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4362 - accuracy: 0.7898
Epoch 38/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4355 - accuracy: 0.7907
Epoch 39/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4341 - accuracy: 0.7923
Epoch 40/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4312 - accuracy: 0.7982
Epoch 41/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4293 - accuracy: 0.7948
Epoch 42/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4297 - accuracy: 0.7957
Epoch 43/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4275 - accuracy: 0.7940
Epoch 44/50
38/38 [==============================] - 0s 960us/step - loss: 0.4268 - accuracy: 0.7990
Epoch 45/50
38/38 [==============================] - 0s 923us/step - loss: 0.4244 - accuracy: 0.8040
Epoch 46/50
38/38 [==============================] - 0s 904us/step - loss: 0.4216 - accuracy: 0.8015
Epoch 47/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4214 - accuracy: 0.8023
Epoch 48/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4204 - accuracy: 0.8090
Epoch 49/50
38/38 [==============================] - 0s 1ms/step - loss: 0.4188 - accuracy: 0.8057
Epoch 50/50
38/38 [==============================] - 0s 865us/step - loss: 0.4160 - accuracy: 0.8148

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [15]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5326 - accuracy: 0.7450 - 140ms/epoch - 11ms/step
Loss: 0.5325616002082825, Accuracy: 0.7450000047683716

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [16]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [17]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [18]:
# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled,verbose=2)

# Display a sample of the predictions
predictions[:5]

13/13 - 0s - 152ms/epoch - 12ms/step

array([[0.1948073 ],
       [0.3774833 ],
       [0.8189986 ],
       [0.7617573 ],
       [0.97977734]], dtype=float32)

In [19]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          0.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [20]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.71      0.77      0.74       188
           1       0.78      0.72      0.75       212

    accuracy                           0.74       400
   macro avg       0.75      0.75      0.74       400
weighted avg       0.75      0.74      0.75       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.
  In order to build a student loan recommendation system, I would use the financial aid score, locaton parameter, payment history, total loan score, time to completion, major and gpa ranking.  This information is helpful, because it gives a guideline for how the applicant handles payment by both the applicants past history and those who are close in profile to the applicant.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.
  Using all of the data in the dataframe uses context-based filtering.  The data I selected would give information about the individual applicant as well as other applicants who have similiar qualities/parameters as the applicant.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.
  The real world challenges are that no two individuals are alike and every persons circumstances aren't alike.  This does not account for all of the outliers. A student who selects a certain major, requires certain financial aid or has a certain GPA may end up being more responsible or capable of repayment than others who have the same major or GPA. There may be certain changes in an individuals life than may affect the outcome and alter their ability to desire to make repayment.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**